.card-body {
  padding-bottom: 0;
}

.card-body ul {
  margin-bottom: 0;
}
.w-95{
  width: 99% !important;
}
@media screen and (min-width: 992px) {
  .w-95{
    width: 95% !important;
  }
}
.card-body ul li:last-child {
  border-bottom: 0 !important;
}
.chat-content p{
  background-color: #EAA515 !important;
  color: white !important;
}

i.bi-send-fill{
  color: #EAA515;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E8F3F7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EAA515;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b47b00;
}
.chat_page{
  height: 100vh;
}
.chat_page .btn {
  background-color: #EAA515;
  color: white;
  border: 1px solid #EAA515;
}
.chat_page .btn:hover {
  background-color: transparent;
  color: #EAA515;
  border: 1px solid #EAA515;
}

@media screen and (max-width: 992px) {
  .chat_section {
    max-height: 300px;
  }
  .chat_page{
    height: auto;
  }
}